body {
    background-color: #0d0c0c;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

header .text-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    width: 30px;
    cursor: pointer;
    opacity: 0.5;
    transition: transform 0.3s, opacity 0.3s;
}

header img:hover {
    transform: scale(1.1);
    opacity: 1;
}

main {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
}

#download-btn {
    background: linear-gradient(to bottom, white, black);
    color: white;
}

#contact-btn {
    background: linear-gradient(to bottom, white, yellow);
    color: black;
}

.version-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.discord-icon {
    width: 30px;
    opacity: 0.5;
    transition: transform 0.3s, opacity 0.3s;
}

.discord-icon:hover {
    transform: scale(1.1);
    opacity: 1;
}

.main-image {
    display: block;
    margin: 0 auto;
}
